* {
    box-sizing: border-box;
}
div {
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
    margin: 10px;
}

.container {
    background: plum;
    display: flex;
}

.parent-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    flex: 2;
    font-size: 4rem;
}

.images {
    width: 500px;
}

.child-container {
    display: flex;
}

.image-center {
    margin: auto;
}

@media (max-width: 1024px) {
    .text {
        font-size: 1rem;
    }
    .images {
        width: 100%;
        margin: 0 auto;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
    /* .parent-container {
        display: flex;
        flex-direction: column;
    } */
}
